@import "image.css";

body{
    width: 100vw;
    height: 400vh;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.75fr 0.2fr 11fr 0.6fr;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    font-weight: 800;
}

#search{
    width: 50%;
    height: 40px;
    border: 5px solid #19CE60;
}

.search-button{
    width: 52px;
    height: 52px;
    background-color: #19CE60;
    border: none;
}

.search-button:active{
    background-color: #05C3A7;
}

#search:focus{
    outline: none;
}

.main-bar{
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
}

.main-bar div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-bar div:first-child{
    color: #19CE60;
}

.main-bar div:nth-child(2){
    color: black;
}

.main-view{
    display: grid;
    grid-template-columns: 0.3fr 1.7fr 0.7fr 0.3fr;
}

/*
.main-view div{
    border: 2px solid black;
}
*/

.news .ad{
    height: 140px;
    margin-right: 20px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;
    font-weight: 800;
}

.press-info{
    margin-top: 5px;
    margin-right: 20px;
    height: 30px;
    display: flex;
    align-items: center;
}

.press-type{
    margin-top: 5px;
    margin-right: 20px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4,1fr);
    border-top: 1px solid #D5D5D5;
    border-left: 1px solid #D5D5D5;
    background-color: #F7F9FA;
}

.press-type div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #D5D5D5;
    border-right: 1px solid #D5D5D5;
}

.main-view__contents{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 0.5fr 0.5fr 0.5fr 1fr 50px;
}

.main-view__others{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 0.1fr 0.1fr 1fr 0.3fr 0.3fr 50px;
}

.login{
    background-color: #F7F9FA;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    max-width: 100%;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid #D5D5D5;
}

.login div{
    border: none;
    font-size: 80%;
}

.login-btn{
    background-color: #19CE60;
    height: 50px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: none;
    font-weight: 600;
    font-size: 16px;
}

.login-info{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.issue, .stock{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    background-color: #F7F9FA; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #D5D5D5;
}

footer{
    padding: 10px;
}

footer div{
    padding-bottom: 5px;
    color: gray;
}

footer div strong{
    font-weight: 600;
    color: black;
}

.more-info{
    padding-top: 10px;
    padding-bottom: 10px;
}

.more-top{
    border-bottom: 1px solid gainsboro;
    margin-bottom: 10px;
}

.more-bottom{
    border-top: 1px solid gainsboro;
    margin-top: 10px;
}
.small-font{
    font-size: 10px;
}
